---
import _ from 'lodash'
import Layout from '../layouts/layout.astro'
import { getContent, getPage, getPages } from '../lib/notion'
import { render } from '../lib/renderer'

export async function getStaticPaths() {
  const pages = await getPages()
  return _.map(pages, page => ({ params: { id: page.id } }))
}

const { id } = Astro.params

const page = await getPage(id)
const content = await getContent(id)
---

<Layout>
  <header>
    <nav>
      <a href={_.get(page, 'parent.workspace') ? '/' : '#TODO'}>
        â† back
      </a>
    </nav>
    <h1>
      {_.get(page, 'properties.title.title.0.text.content')}
    </h1>
  </header>
  <main set:html={render(content)} />
  <footer>
    <small>
      <a href={_.get(page, 'url')}>
        view on notion
      </a>
    </small>
  </footer>
</Layout>
